tmp/
*.char
*.uint
*.png
*.py[cod]
*.egg
*.npy
*.jpg
*.png
*.tiff
*.o
*.so
*.double
*.sh
*.uint8
*.gif
main
!exe.sh
images.sh
budack
gamma
!zoom.png
!zoom1.png
!trajhd.png
!colors.png
!colors1.png
*.ccls-cache
*.double
!hints80.double
runbudack.sh
output/
*.dat
