tmp/
*.char
*.uint
*.png
!zoom1.png
!crop2.png
*.py[cod]
*.egg
*.npy
*.jpg
*.tiff
*.o
*.so
*.double
*.sh
*.uint8
*.gif
!live_render.gif
main
!exe.sh
budack
gamma
*.ccls-cache
*.double
!hints80.double
output/
*.dat
core/opengl/
